<% content_for :title, display_id_name(@department) -%>
<% content_for :subtitle, 'Líder: ' << display_id_name(@department.leader) if @department.leader -%>
<% content_for :actions do -%>
  <div class="btn-group">
    <%= icon_button_to 'pencil', 'Editar', edit_department_path(@department) %>
    <%= icon_button_to 'trash', 'Remover', @department, method: :delete, data: { confirm: 'Tem certeza?' } %>
    <%= icon_button_to 'chevron-left', 'Voltar', departments_path %>
  </div>
<% end %>
