<% content_for :title, "#{@department.id} - #{@department.name}" -%>
<% content_for :actions do -%>
  <div class="btn-group">
    <%= link_to 'Editar', edit_department_path(@department), class: 'btn btn-default' %>
    <%= link_to 'Remover', @department, class: 'btn btn-default', method: :delete, data: { confirm: 'Tem certeza?' } %>
    <%= link_to 'Voltar', departments_path, class: 'btn btn-default' %>
  </div>
<% end %>
