/*
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 50px;
}

.sessions .container {
  margin: 0 auto;
  max-width: 350px;
}

.table-actions {
  width: 60px;
  white-space: nowrap;
}

.table-id {
  width: 80px;
  white-space: nowrap;
}
